body {
	background: #f3f3f3;
}

h6 {
	font-weight: bolder;
	font-size: 20px;
}
/*------- LEADERBOARD AD -------*/

.leaderboard-ad {
	max-width: 100%;
	background: #eaeaea;
	margin: 20px auto;
	width: 728px;
	height: 90px;
	border: 1px solid #ccc;
}

.leaderboard-ad p {
	text-align:center;
	padding-top: 33px;	
}

/*------- HEADER -------*/

.header-wrapper {
	background: #cccccc;
	border-bottom: 3px solid #999999;
}

#menu {
	position: absolute;
}

.hamburger-menu {
	padding: 10px;
}

.hamburger-icon {
	height: 5px; 
	width: 30px;
	background: black;
	margin: 5px 0 5px 10px;
}

#logo {
	text-align: center;
}

#logo h1 {
	font-size: 30px;
	padding-top: 5px;
}

/*------- HERO -------*/

#hero {
	text-align: center;
	min-height: 300px;
	background: #f3f3f3;
	position: relative;
}

#hero h2 {
	font-size: 20px;
	margin-top: 100px;
}

#hero .search-input-home {

}

#hero .search-input-home input {
	max-width: 300px;
	display: inline;
	padding: 10px ;
}

#hero .search-input-home p {
	display: inline;
	
}

#hero .search-input-home .button {
	padding: 10px 20px;
}

/*------- FEATURED LISTINGS -------*/

#featured-listings h4 {
	margin: 20px 0 3px 10px;
}

.featured-listing {
	text-align: center;
	width: 100%;
	height: 100%;
	background: #cccccc;
	margin: 20px 10px;	
}

.featured-listing p {
	padding: 55px 50px 44px;
}

/*------- CATEGORIES -------*/

#categories h4 {
	margin: 20px 0 3px 10px;
}

.category-listing {
	text-align: center;
	width: 100%;
	height: 100%;
	background: #cccccc;
	margin: 20px 10px;	
}

.category-listing p {
	padding: 55px 50px 44px;
}

.sub-category-list ul li {

	list-style: none;
}
.sub-category-ruler {
	height: 2px;
}


/*------- SQUARE AD 300x250 -------*/

.square-ad {
	width: 300px;
	height: 250px;
	background-color: #ccc;
	text-align: center;
	padding: 30px;
	margin: 20px 10px;
}

/*------- PROFILE PAGE -------*/
.profile-wrapper {
	width: 100%;

}

#profile-logo {
	height: 150px;
	width: 180px;
	background-color: #ccc;
	margin-top: -25px;
}
.profile-contact{
}
.profile-contact p {
	margin-top: 20px;
}
.profile-description {
	margin-top: 20px;
}
.btn-social-media {
	padding: 22px;
	margin-right: 5px;
	margin-top: -25px;

}

.square-ad-profile {
	width: 300px;
	height: 250px;
	background-color: #000;

}


/*------- FOOTER -------*/
footer {
	background-color: #ccc;
}
@media screen and (max-width: 560px) {
    #categories p {
    	width: 100%;
    	}

	.leaderboard-ad {
		width: 320px;
		height: 50px;
	}
}
