
body {
	background: #f3f3f3;
}

section {
	padding-top: 200px;
}

/*------- LEADERBOARD AD -------*/

.leaderboard-ad {
	max-width: 100%;
	background: #eaeaea;
	margin: 20px auto;
	width: 728px;
	height: 90px;
	border: 1px solid #ccc;
}

.leaderboard-ad p {
	text-align:center;
	padding-top: 33px;	
}

/*------- HEADER -------*/

.header-wrapper {
	background: #cccccc;
	border-bottom: 3px solid #999999;
}

#menu {
	position: absolute;
}

.hamburger-menu {
	padding: 10px;
}

.hamburger-icon {
	height: 5px; 
	width: 30px;
	background: black;
	margin: 5px 0 5px 10px;
}

#logo {
	text-align: center;
}

#logo h1 {
	font-size: 30px;
	padding-top: 5px;
}

/*------- HERO -------*/

#hero {
	text-align: center;
	min-height: 300px;
	background: #f3f3f3;
	margin-top: 10px;
	position: relative;
}

#hero h2 {
	font-size: 20px;
	margin-top: 100px;
}

#hero .search-input-home input {
	max-width: 300px;
	display: inline;
	padding: 10px ;
}

#hero .search-input-home p {
	display: inline;
	
}

#hero .search-input-home .button {
	padding: 10px 20px;
}

/*------- CATEGORIES -------*/

#categories p {
	width: 200px;
	height: 100px;
	background: #cccccc;
}

@media screen and (max-width: 560px) {
    #categories p {
    	width: 100%;
    	}

	.leaderboard-ad {
		width: 320px;
		height: 50px;
	}
}
