
body {
	background: #f3f3f3;
}

section {
	padding-top: 200px;
}

#features .fa-arrow-circle-down {
	font-size: 2em;
	color: blue;

}

#features .fa {
 	display: none;
 	min-height: 30px;
}

.header-wrapper {
	background: gray;
	border-bottom: 1px solid #999999;
	min-height: 20px;
}

.hamburger-menu {
	padding: 10px;
}

.hamburger-icon {
	height: 5px; 
	width: 30px;
	background: black;
	margin: 5px 0 5px 10px;
}

.main-menu ul li  {
	display: inline-block;
	background: gray;
	padding: 5px;
	margin: 20px 0;
}

#logo {
	text-align: center;
}

.leaderboard-ad {
	max-width: 100%;
	background: #999999;
	margin: 20px auto;
		width: 728px;
	height: 90px;
}

.leaderboard-ad p {
	text-align:center;
	padding-top: 30px;
}

#categories p {
	width: 200px;
	height: 100px;
	background: #cccccc;
}

@media screen and (max-width: 560px) {
    #categories p {
    	width: 100%;
    	}

	.leaderboard-ad {
		width: 320px;
		height: 50px;
	}
}
